<h3>My Shopping Bag <span class="pull-right">Order Total: $123.00</span></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Sub-total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in checkoutBag">
      <td>
        <h3>{{ item.name }}</h3>
        <img src="{{ item.imageUrl }}" alt="tea image"/>
        <p><strong>Caffeine Scale:</strong> {{ item.caffeineScale }}</p>
        <p><strong>Ingredients:</strong> {{ item.ingredients }}</p>
        <p><strong>Rating:</strong> {{ item.rating }}</p>
      </td>
    </tr>
  </tbody>
</table>
